{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/withdrawal.css' %}">
</head>
<body>
    <div class="container">
        <form action="">

          
            <div class="row">
                <div class="col">
                    <h3 class="title">Crypto payment adress</h3>
                    
                    <div class="inputBox">
                        <span>Bybit Gateway:</span>
                        <br>

                        <span>Network:TRC20</span>
                    </div>
    
                    <div class="inputBox">
                        <span>second crypto address:</span>
                        
                    </div>

                   </div>
                </div>
    
    
    
                <div class="col">
                    <h3 class="title">Crypto payment gateway</h3>
                    <br>
    
                    <div class="inputBox">
                        <span>Binance:</span>

                    </div>
    <br>
                    <div class="inputBox">
                        <span>Network:-----</span>
                        
                    </div>
<br>
                    <div class="inputBox">
                        <span>second crypto address:</span>
                        
                    </div>
    
                   </div>
    
                </div>
            </div>
    
             <input type="submit" value="proceed to checkout" class="submit">
    
            </form>
    </div>
</body>
</html>